{% extends "base.html.twig" %}


{% block body %}
	<div class="container-xxl w-75">
		<div class="row">
			<div class="col">
				<h2>Votre panier</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 my-3">
				{% if order.items %}
					<div class="card">
						{% for item in order.items %}
							{% include "shopping_cart/_item_cart.html.twig" %}
						{% endfor %}
					</div>
				{% else %}
					<p class="text-center text-muted">
						Votre panier est vide.
					</p>
					<hr>

				{% endif %}
				<div class="row pull-right p-2">
					<a class="btn btn-primary" href="{{path('payment')}}">
						<i class="fa fa fa-shopping-cart"></i>
						Paiement</a>
				</div>

			</div>
			<div class="col-md-3 my-3">
				<div class="card p-2">
					<h5>Récapitulatif de votre panier</h5>

					<div class="row">
						<div class="col">
							<span class="fw-bold">Sous total HT :</span>
						</div>
						<div class="col">
							<span>
								{{order.getTotalHt ? order.getTotalHt|number_format(2, ',', ' ') : '0,00'}}€
							</span>
						</div>
					</div>
					{% if order.hasPromotion %}
						<div class="row">
							<div class="col">
								<span class="fw-bold text-success">Promotions :</span>
							</div>
							<div class="col">
								<span class="text-success">
									-{{order.getMontantPromotions|number_format(2, ',', ' ')}}€
								</span>
							</div>
						</div>
					{% endif %}
					<hr class="bg-success">
					<div class="row">
						<div class="col">
							<span class="fw-bold">Tva :</span>
						</div>
						<div class="col">
							<span>
								{{order.getMontantTva ? order.getMontantTva|number_format(2, ',', ' ') : '0,00'}}€
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<span class="fw-bold">Frais de port :</span>
						</div>
						<div class="col">
							<span class="font-bold">
								{% if order.getFraisDePort %}
									{{order.getFraisDePort|number_format(2, ',', ' ')}}€
								{% else %}
									Offert !
								{% endif %}
							</span>
						</div>
					</div>
					<hr class="bg-success">
					<div class="row">
						<div class="col">
							<span class="fw-bold">Total TTC :</span>
						</div>
						<div class="col">
							<span class="font-bold">
								{{order.getTotalTtc ? order.getTotalTtc|number_format(2, ',', ' ') : '0,00'}}€
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
